<footer id="trademark" class="d-flex justify-content-center mt-5 pt-5">
            <h5 class="d-inline-block">©YelpCamp 2020</h4>
    </footer>
    <script type="text/javascript" src="/js/jquery-slim-min.js"></script>
    <script type="text/javascript" src="/js/popper-min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>