html,body{
    height: 100%;
    line-height: 1.2rem;
}
/* .form-control,.formStyle {
    width: 40%;
    margin: 0 auto;
} */

.card-body{
    padding:1.1rem;
}

.overflowPara{
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media(min-width:992px){
    .newEditForm{
        width: 50%;
        margin: 0 auto;
    }
}
@media(max-width:992px){
    .newEditForm{
        width: 70%;
        margin: 0 auto;
    }
}