body{
    width: 100%;
    margin: 0;
}
#container{
    display: grid;
    grid-template:10% 45% 45% / 1fr 5fr 1fr;

}

nav#navbar{
    color: white;
    padding:0;
    /* grid-area: 1/1/1/span 3; */
    background-color: black;
    display: flex;
    /* display: grid;
    grid-template: 1fr/2fr 7fr; */
}
nav ul{
    list-style: none;
    margin: 0;
    padding:0;
}

nav ul#header{
    /* display: grid;
    grid-template:1fr/1fr 1fr 1fr; */
}
.logo{
    /* margin-right:60%; */
}
.navbar-item1{
    margin-left:1rem;
}
.navbar-item2{
    margin-left:1rem;
}
.navbar-item3{
    margin-left:1rem;
}
.navbar-item4{
    margin-left:1rem;
    padding-right: 1rem;
}
li>a {
    color:white;
    text-decoration: none;
}



.overflowPara{
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* @media(min-width:992px){
    .newEditForm{
        width: 50%;
        margin: 0 auto;
    }
}
@media(max-width:992px){
    .newEditForm{
        width: 70%;
        margin: 0 auto;
    }
} */